/* Inline */

:is(.slide, .slide-notes) a {
    background-image:
        linear-gradient(
            to top,
            currentColor 0.08em,
            transparent 0.08em
        );
    background-repeat: repeat-x;
    color: var(--color-key);
    text-decoration: none;
}

:is(.slide, .slide-notes) code,
:is(.slide, .slide-notes) kbd,
:is(.slide, .slide-notes) mark,
:is(.slide, .slide-notes) samp {
    padding: 0.1em 0.3em;
}

:is(.slide, .slide-notes) code,
:is(.slide, .slide-notes) kbd,
:is(.slide, .slide-notes) samp {
    background-color: var(--color-back);
    line-height: 1;
    font-family: 'Fira Code VF', monospace;
    font-feature-settings: 'calt', 'ss01', 'ss03', 'ss05', 'ss08';
}

:is(.slide, .slide-notes) mark {
    background-color: var(--color-yellow);
}

:is(.slide, .slide-notes) sub,
:is(.slide, .slide-notes) sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 75%;
}

:is(.slide, .slide-notes) sub {
    bottom: -0.25em;
}

:is(.slide, .slide-notes) sup {
    top: -0.5em;
}
