/* Content
 *
 * See also
 * - styles/slide/content/inline.css
 */

.slide-notes h2,
.slide-notes h3,
.slide-notes h4 {
    font-weight: 500;
}

.slide-notes pre {
    margin-top: 0;
    margin-bottom: 1em;
    white-space: normal;
}

.slide-notes pre code {
    display: block;
    background-color: transparent;
    line-height: 1.5;
    white-space: pre;
    tab-size: 4;
}

.slide-notes details {
    border: 2px solid var(--color-key);
    padding: 0.5rem 1rem 0;
}

.slide-notes details > summary {
    color: var(--color-key);
    font-weight: bold;
    cursor: pointer;
    margin: -0.5rem -1rem 0;
    padding: 0.5rem 1rem;
}

.slide-notes details[open] > summary {
    border-bottom: 2px solid var(--color-key);
}
