/* Content
 *
 * See also
 * - styles/slide/content/inline.css
 */

.slide-notes h2,
.slide-notes h3,
.slide-notes h4 {
    font-weight: 500;
}

.slide-notes pre {
    margin-top: 0;
    margin-bottom: 1em;
    white-space: normal;
}

.slide-notes pre code {
    display: block;
    background-color: transparent;
    line-height: 1.5;
    white-space: pre;
    tab-size: 4;
}
