/* Content */

.slide-notes h2,
.slide-notes h3,
.slide-notes h4 {
    font-weight: 500;
}

.slide-notes code,
.slide-notes kbd,
.slide-notes samp {
    font-family: 'Fira Code VF', monospace;
    font-feature-settings: 'calt', 'ss01', 'ss03', 'ss05', 'ss08';
}
