/* Print */

@page {
    --page-margin: 1rem;
    margin: var(--page-margin);
    size:
        calc(1024px + var(--page-margin) * 2)
        calc(576px + var(--page-margin) * 2);
}

.shower {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    text-rendering: geometricPrecision;
}
