/* Custom color theme */

.shower {
    --color-key: #008aa5;
}


/* Place slide number on the right */

.slide::after {
    right: 1rem;
    bottom: 1rem;
    text-align: right;
}


/* Citation */

figcaption.citation {
    text-align: right;
    font-size: 0.8rem;
    line-height: 1rem;
}

figcaption.citation.left {
    text-align: left;
}

figcaption.citation p {
    margin: 0;
}

figcaption.citation p + p {
    margin-top: 0.5em;
}


/* Image size helper */

img.fill.w {
    width: 100%;
}

img.fill.h {
    height: 100%;
}


/* Slide layout */

.slide.tight {
    padding-top: 52px;
}


/* Custom column width */

.columns.l20,
.columns.r80 {
    grid-template-columns: 1fr 4fr;
}

.columns.l25,
.columns.r75 {
    grid-template-columns: 1fr 3fr;
}

.columns.l33,
.columns.r67 {
    grid-template-columns: 1fr 2fr;
}

.columns.l40,
.columns.r60 {
    grid-template-columns: 2fr 3fr;
}

.columns.l60,
.columns.r40 {
    grid-template-columns: 3fr 2fr;
}

.columns.l67,
.columns.r33 {
    grid-template-columns: 2fr 1fr;
}

.columns.l75,
.columns.r25 {
    grid-template-columns: 3fr 1fr;
}

.columns.l80,
.columns.r20 {
    grid-template-columns: 4fr 1fr;
}
