/* Source Sans 3 VF */

@font-face{
    font-family: 'Source Sans 3 VF';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src:
        local('Source Sans 3 VF'),
        url('../fonts/source-sans/SourceSans3VF-Roman.ttf.woff2') format('woff2'),
        url('../fonts/source-sans/SourceSans3VF-Roman.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans 3 VF';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    font-display: fallback;
    src:
        local('Source Sans 3 VF'),
        url('../fonts/source-sans/SourceSans3VF-Italic.ttf.woff2') format('woff2-variations'),
        url('../fonts/source-sans/SourceSans3VF-Italic.ttf.woff') format('woff-variations');
}


/* Fira Code VF */

@font-face {
    font-family: 'Fira Code VF';
    font-weight: 300 700;
    font-style: normal;
    font-stretch: normal;
    font-display: fallback;
    src:
        local('Fira Code VF'),
        url('../fonts/fira-code/FiraCode-VF.woff2') format('woff2-variations'),
        url('../fonts/fira-code/FiraCode-VF.woff') format('woff-variations');
}
