.shower.list section.note {
    transform-origin: 0 0;
    transform: scale(var(--slide-scale));
}

.shower.full section.note {
    visibility: hidden;
}

section.note {
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 0 1rem;
    width: var(--slide-width);
    height: var(--slide-height);
}

@media print {
    section.note {
        padding: 2em 4em;
        height: 100%;
    }
}
